/*====================================================================== Buttons=============================*/
.btn-light {
  color: blue;
  color: aliceblue;
}
.btn:hover {
  background-color: dodgerblue;
}
#addtofavorites {
  font-size: 25px;
  padding: 5px;
  width: 250px;
}
#back {
  width: 100px;
}
.beers {
  color: aliceblue;
}
/* ================================================= IMAGES ======================================= */
/* ================================================== Cards ===============================*/
.card {
  text-align: start;
  gap: 20px;
  border: 1px solid rgb(233, 232, 232);
  margin-top: 50px;
}
.grid {
  margin-bottom: 50px;
}

/* ===============================================NAVIGATION BAR ===============================*/
